<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuickNest</title>
  </head>
  <body>
    <h1>Home Page</h1>

    <a href="/user/login">Go to login page</a>
  </body>
</html>
